# exclude everything except directory /src
/Default/src/*
/Default/Quadcopter
*/CMakeFiles/*
/build/*
*.make
*.mark
quadcopter
Makefile
CMakeCache.txt

#files being edited
*~

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.cmake
*.so
*.a
